@import './reset.scss';
@import './_mixin.scss';


.section-inner {
    max-width: 1200px;
    margin: 0 auto;
}


// 顶部导航
#logo {
    margin-top: 22px;
    img {
        width: 170px;
        height: 46px;
    }
}
#m_header {
    background-color: #fff;
    border-bottom: 1px solid $highColor;
    .nav {
        li {
            float: left;
            margin-right: 5px;
        }
        a {
            display: block;
            padding: 0 20px;
            line-height: 90px;
            height: 90px;
            text-align: center;
            font-size: 18px;

            &.router-link-exact-active {
                @include bgColor();
                color: #fff;
            }
        }
    }
    .search {
        position: relative;
        margin-top: 26px;

        input::-webkit-input-placeholder {
            color: #666;
        }
        input::-moz-input-placeholder {
            color: #666;
        }
        input::-ms-input-placeholder {
            color: #666;
        }
        .el-icon-search {
            cursor: pointer;
            font-size: 20px;
            color: #666;

            &:hover {
                @include highColor();
            }
        }
    }
    .search-recommend {
        position: absolute;
        left: 0;
        right: 0;
        top: 39px;
        background-color: #fff;
        border: 1px solid #DCDFE6;

        .hot {
            padding: 5px 0;

            dd {
                padding: 0 10px;
                height: 36px;
                line-height: 36px;
                @include clearfix();
                cursor: pointer;

                &:hover {
                    @include bgColor();

                    i, span, em {
                        color: #fff;
                    }
                }
            }
            i, span, em {
                float: left;
            }
            i {
                width: 18px;
                color: #ff4222;
            }
            em {
                float: right;
                @include c_light();
                font-size: 12px;
            }
            span {
                @include t_hide(74%);
            }
        }
        .history {
            padding: 5px 0;

            dt {
                padding: 0 10px;
                height: 36px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    @include c_light();
                }
                i {
                    padding: 4px;
                    font-size: 24px;
                    cursor: pointer;
                    @include c_mid();

                    &:hover {
                        @include highColor();
                    }
                }
            }
            dd {
                padding: 0 10px;
                display: flex;
                height: 36px;
                justify-content: space-between;
                align-items: center;
                line-height: 36px;
                cursor: pointer;

                &:hover {
                    @include bgColor();

                    i, span {
                        color: #fff;
                    }
                }
                i {
                    padding: 4px;
                    font-size: 20px;
                }
            }
        }
    }
}